# This buildout is used for development of dataflake.cache.
# It gets the necessary eggs and creates a test runner and a python
# interpreter.

[buildout]
develop = .
parts = 
    test 
    coverage
    sphinx
    tox

[test]
recipe = zc.recipe.testrunner
eggs = dataflake.cache

[coverage]
recipe = zc.recipe.testrunner
defaults = ['--coverage=parts/coverage']
eggs = dataflake.cache

[sphinx]
recipe = zc.recipe.egg
eggs =  
  Sphinx
  dataflake.cache[docs]
scripts =
    sphinx-build

[tox]
recipe = zc.recipe.egg
eggs = tox
