# LOG FILE
# This is the main log file where service and host events are logged
# for historical purposes.  This should be the first option specified 
# in the config file!!!

log_file=/opt/ins-nagios/cli/nagios.log


# EXTERNAL COMMAND FILE
# This is the file that Nagios checks for external command requests.
# It is also where the command CGI will write commands that are submitted
# by users, so it must be writeable by the user that the web server
# is running as (usually 'nobody').  Permissions should be set at the 
# directory level instead of on the file, as the file is deleted every
# time its contents are processed.

command_file=/opt/ins-nagios/cli/etc/nagios.cmd


# PRINTF

printf_file=/opt/ins-nagios/cli/lib/printf

#path for ldap server

ldapServer=ldaps://iad01-ldap01.vpn.insnw.net

#domain

basedn=ou=people,dc=instartlogic,dc=com

#TEMPLATE FILE
#It validates the input commands and arguments against those in it.

template_file=/opt/ins-nagios/cli/bin/template.txt
