; vim: set fileencoding=utf-8 :
; Pavel Korshunov <Pavel.Korshunov@idiap.ch>
; Thu 23 Jun 13:43:22 2016

[buildout]
parts = scripts

eggs =  bob.pad.voice
	bob.db.base
        bob.bio.base
        bob.bio.spear
        bob.bio.gmm
        bob.pad.base
        bob.db.asvspoof
        bob.db.avspoof
        gridtk

extensions = bob.buildout
             mr.developer

auto-checkout = *
develop = src/bob.bio.spear
	 src/bob.db.base
         src/bob.bio.gmm
         src/bob.db.asvspoof
         src/bob.db.avspoof
         src/bob.bio.base
         src/bob.pad.base
         .
         
; options for bob.buildout
debug = true
verbose = true
newest = false

[sources]
bob.db.base =  git git@gitlab.idiap.ch:bob/bob.db.base.git
bob.bio.gmm  = git git@gitlab.idiap.ch:bob/bob.bio.gmm.git
bob.db.avspoof = git git@gitlab.idiap.ch:bob/bob.db.avspoof.git
bob.db.asvspoof = git git@gitlab.idiap.ch:bob/bob.db.asvspoof.git
bob.bio.base = git git@gitlab.idiap.ch:bob/bob.bio.base.git
bob.pad.base = git git@gitlab.idiap.ch:bob/bob.pad.base.git
bob.bio.spear = git git@gitlab.idiap.ch:bob/bob.bio.spear.git

[scripts]
recipe = bob.buildout:scripts
dependent-scripts = true
