[versions]
# Added by buildout at 2014-05-26 11:43:16.918121
mock = 1.0.1
z3c.coverage = 2.0.2
zc.buildout = 2.2.1
zc.recipe.egg = 2.0.1
zc.recipe.testrunner = 2.0.0

# Required by:
# z3c.coverage==2.0.2
coverage = 3.7.1

# Required by:
# shoobx.flowview==0.0.1dev
lxml = 3.3.5

# Required by:
# shoobx.flowview==0.0.1dev
# z3c.coverage==2.0.2
# zope.exceptions==4.0.7
# zope.interface==4.1.1
# zope.testrunner==4.4.3
setuptools = 3.6

# Required by:
# zope.testrunner==4.4.3
six = 1.6.1

# Required by:
# zope.testrunner==4.4.3
zope.exceptions = 4.0.7

# Required by:
# zope.testrunner==4.4.3
zope.interface = 4.1.1

# Required by:
# zc.recipe.testrunner==2.0.0
zope.testrunner = 4.4.3

# Added by buildout at 2014-11-07 03:45:25.207284
py = 1.4.26
pytest = 2.6.4

# Added by buildout at 2014-11-07 04:09:09.370889
cov-core = 1.14.0
pytest-cov = 1.8.1
