version: "2"

services:
  periodic:
    build: .
    volumes:
      - ./tle-storage-service.yaml:/opt/tle-storage-service/config/tle-storage-service.yaml:ro
    links:
      - db:db
  server:
    build: .
    entrypoint: python -m server
    volumes:
      - ./tle-storage-service.yaml:/opt/tle-storage-service/config/tle-storage-service.yaml:ro
    links:
      - db:db
    ports:
      - 8080:80
  db:
    image: postgres:alpine
    environment:
      - POSTGRES_USER=tle_user
      - POSTGRES_PASSWORD=qwerty
      - POSTGRES_DB=tle