@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 100;
  src: url(ubuntu/Ubuntu-R.ttf) format('truetype');
}
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 300;
  src: url(ubuntu/Ubuntu-L.ttf) format('truetype');
}
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  src: url(ubuntu/Ubuntu-R.ttf) format('truetype');
}
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 500;
  src: url(ubuntu/Ubuntu-M.ttf) format('truetype');
}
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 700;
  src: url(ubuntu/Ubuntu-B.ttf) format('truetype');
}
/*@font-face {*/
  /*font-family: 'Ubuntu';*/
  /*font-style: normal;*/
  /*font-weight: 900;*/
  /*src: url(ubuntu/Roboto-Black.ttf) format('truetype');*/
/*}*/
@font-face {
  font-family: 'Ubuntu';
  font-style: italic;
  font-weight: 400;
  src: url(ubuntu/Ubuntu-I.ttf) format('truetype');
}
@font-face {
  font-family: 'Ubuntu';
  font-style: italic;
  font-weight: 700;
  src: url(ubuntu/Ubuntu-BI.ttf) format('truetype');
}






/*Ubuntu-B.ttf*/
/*Ubuntu-BI.ttf*/
/*Ubuntu-C.ttf*/
/*Ubuntu-L.ttf*/
/*Ubuntu-LI.ttf*/
/*Ubuntu-M.ttf*/
/*Ubuntu-MI.ttf*/
/*Ubuntu-R.ttf*/
/*Ubuntu-RI.ttf*/
/*UbuntuMono-B.ttf*/
/*UbuntuMono-BI.ttf*/
/*UbuntuMono-R.ttf*/
/*UbuntuMono-RI.ttf*/
