.tiros-overlay{
    width: auto;
    height: auto;
    min-width: 200px;
    max-width: 400px;
    border: 1px solid #000;
    border-radius: 2px;
    background: rgba(0, 0, 0, 0.7);
    top: auto;
    bottom:10px;
    right: 10px;
    padding: 0 15px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: #fff
}

.tiros-hidden {
    display: none !important;
    visibility: hidden !important;
}


.tiros-overlay{
    display: none;
    position: absolute;
    z-index: 11;
}

.tiros-metadata{
    border-radius: 2px;
    border: 1px solid #ccc;
    color:  #fff;
    background: rgba(0, 0, 0, 0.7);
    display: none;
    font-family: Arial, sans-serif;
    font-family: sans-serif;
    font-size: 18px;
    height: auto;
    left: 10px;
    max-width: 600px;
    min-width: 200px;
    padding: 0 15px;
    top: auto;
    bottom: 250px;
    width: auto;
}

.tiros-metadata form{
    background: none;
    width: 100%;

}

.tiros-metadata input{
    right: -180px;
}


.tiros-metadata select {
    font-size: 18px;
    padding: 10px 15px;
    width: 80%;
    cursor: pointer;
}

.tiros-metadata option {
    padding: 0.5em;
}

.tiros-metadata option[value=""] {
    color: #aaa;
}

.tiros-metadata{
    display: none;
    position: absolute;
    z-index: 12;
}
