.njg-node{ cursor: pointer }
.njg-link{ cursor: pointer }

njg-node:hover,
 njg-node.njg-open {
    stroke: rgba(0, 0, 0, 0.2);
}

 njg-link{
    cursor: pointer;
    stroke: #999;
    stroke-width: 2;
    stroke-opacity: 0.25;
}

njg-link:hover,
njg-link.njg-open{
    stroke-width: 4 !important;
    stroke-opacity: 0.5;
}

.subnet_link{ stroke: #669999 }
.vpc_link{ stroke: #00ff00; stroke-opacity: 0.7 }
.assoc_link{ stroke: #FF7F50; stroke-opacity: 0.7 }

.njg-node.vpc{ fill: #3182bd !important }
.njg-node.subnet{ fill: #ff8000  !important}
.njg-node.instance{  fill: #ccccff  !important}
.njg-node.gray{  fill: #D3D3D3  !important}

.njg-node.acl{ fill: #00008B !important }
.njg-node.acl_assoc{ fill: #A9A9A9  !important}

.njg-node.high{ fill: #FF0000 !important }
.njg-node.instance_ssh{  fill: #000000  !important}
.njg-node.instance_ok{  fill:  #00ff00  !important}

.njg-link{ stroke-width: 5px }
.njg-link:hover,.njg-link.njg-open{
    stroke-width: 6px !important;
    stroke-opacity: 0.7 !important
}
