article .meta {
  color: $gray;
}

.blog {
  max-width: 720px;
  margin: auto;
}
article.blog-detail {

  .blog-body {
    font-size: 16px;
    hyphens: auto;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    text-align: justify;
  }

  a.screenshot {
    text-decoration: none;
    margin: 15px 0;
    display: block;
    text-align: center;
  }
  a.screenshot img {
    max-width: 100%;
    height: auto;
    box-shadow: 5px 5px 3px #888888;
    border: 1px solid #DDDDDD;
  }
}
.feed-icon {
  padding-top: 12px;
}
