.privacy-row > div {
  margin: 20px 0;
}
#cookie {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: rgba(30, 40, 40, 0.90);
  color: white;
  z-index: 10000;

  p {
    margin: 0;
    padding: 20px;
  }

  #cookie_close {
    padding: 20px;
    float: right;
    color: white;
  }

  p a {
    color: white;
    text-decoration: underline;
  }
}
@media(max-width: 767px) {
  #cookie p {
    padding: 15px;
  }
  #cookie #cookie_close {
    padding: 15px;
  }
}
