.bold       {font-weight:bold;}
.italic     {font-style: italic;}
.italic strong {font-style: italic;font-weight:bold;}
.underline  {text-decoration: underline;}
.normal     {font-weight:normal;font-style:normal;}

.alignLeft  {text-align:left;}
.alignRight {text-align:right;}
.alignCenter{text-align:center;}
.alignTop   {vertical-align:top;}

.upper      {text-transform:uppercase;}
.lower      {text-transform:lowercase;}

.no_text    {text-indent:-9000px;}

.left       {float: left;}
.right      {float: right;}

.center     {text-align: center;}
.justify    {text-align: justify;}

.clear      {clear:both;}
.block      {display: block;}

.half       {width:48%;padding:1%;}
.fullWidth  {width:100%;}

.indent     {padding-left:40px !important;}
.indent_m   {margin-left:40px !important;}

table.vTop td,
table.vTop th,
th.vTop,
td.vTop     {vertical-align:top;}
table.vMiddle th,
table.vMiddle td,
th.vMiddle,
td.vMiddle  {vertical-align:middle;}

.smaller,
.small      {font-size:11px;line-height:16px;}
.smallest   {font-size:9px;line-height:11px;}
.larger     {font-size: 13px; line-height: 150%;}
.large      {font-size:16px;line-height: 150%;}
.largest    {font-size:24px; line-height: 150%;}

.column     {width:29%;float:left;padding: 0 10px; border-right:1px solid #ccc;}

.noBorder   {border:0 !important;}
.noPadding  {padding:0;}
.noMargin   {margin:0;}
a.noHover:hover,
a.noHover,
.noHover    {border:0 !important;background:none;}

.big_space  {margin: 20px 0;}
.container  {overflow:hidden;position:relative;}

.error,
.errorlist,
.errors     {color:#db0c0c;font-weight:bold;}
.caps       {text-transform: uppercase;}

.padding    {padding:5px;}
.leftSpace  {margin-left:40px;}
.small_caps {font-variant:small-caps;}

.invisible  {visibility:hidden;}
.remove     {display:none;}
.block      {display:block;}

.cnt_red    {color: #DC0000;}
.cnt_yellow {color: #CE8527;}

dt          {font-weight:bold;margin:0;}
dd          {margin-left:15px;}


.warning
{
    background: #FFFFF0;
    color: #CE8527;
    font-weight: bold;
    margin: 5px 0;
    padding: 5px 10px;
}

.yellow
{
    color: #CE8527;
    font-weight: bold;
}

.red
{
    color: #db0c0c !important;
    font-weight: bold;
}

.green, .user_msgs
{
    color: green;
    font-weight: bold;
}
