table.table{
    margin-bottom: 10px;
}
th.icon{
   width:1px;
}

th.toolbox{
   width:1px;
}

th.size{
   text-align: center;
   width:1px;
}

td.size{
   white-space:nowrap;
   text-align:right;
}

a.download-button i{
   color: hsl(0, 0%, 72%);
}

a.download-button i:hover{
   color: hsl(0, 0%, 39%);
}

#alert-message{
    margin-top: 37px;
}

#directory-stats{
   color: hsl(0, 0%, 50%);
   margin-left: 10px;
   margin-bottom: 20px;
}
