@font-face {
    font-family: 'opensans';
    src: url("opensans_bolditalic_macroman/OpenSans-BoldItalic-webfont.6218c213bb8c.eot");
    src: url("opensans_bolditalic_macroman/OpenSans-BoldItalic-webfont.6218c213bb8c.eot?#iefix") format('embedded-opentype'),
         url("opensans_bolditalic_macroman/OpenSans-BoldItalic-webfont.7657144ec477.woff") format('woff'),
         url("opensans_bolditalic_macroman/OpenSans-BoldItalic-webfont.b6690626036a.ttf") format('truetype'),
         url("opensans_bolditalic_macroman/OpenSans-BoldItalic-webfont.2b4eeeaef53b.svg#open_sansbold_italic") format('svg');
    font-weight: bold;
    font-style: italic;

}

@font-face {
    font-family: 'opensans';
    src: url("opensans_bold_macroman/OpenSans-Bold-webfont.1d9c7945c7bc.eot");
    src: url("opensans_bold_macroman/OpenSans-Bold-webfont.1d9c7945c7bc.eot?#iefix") format('embedded-opentype'),
         url("opensans_bold_macroman/OpenSans-Bold-webfont.2e90d5152ce9.woff") format('woff'),
         url("opensans_bold_macroman/OpenSans-Bold-webfont.76cc6be5d8a2.ttf") format('truetype'),
         url("opensans_bold_macroman/OpenSans-Bold-webfont.93349923b527.svg#open_sansbold") format('svg');
    font-weight: bold;
    font-style: normal;

}

@font-face {
    font-family: 'opensans';
    src: url("opensans_italic_macroman/OpenSans-Italic-webfont.43d5342998f3.eot");
    src: url("opensans_italic_macroman/OpenSans-Italic-webfont.43d5342998f3.eot?#iefix") format('embedded-opentype'),
         url("opensans_italic_macroman/OpenSans-Italic-webfont.f42641eed834.woff") format('woff'),
         url("opensans_italic_macroman/OpenSans-Italic-webfont.de7ef31e6295.ttf") format('truetype'),
         url("opensans_italic_macroman/OpenSans-Italic-webfont.5b774c25787e.svg#open_sansitalic") format('svg');
    font-weight: normal;
    font-style: italic;

}

@font-face {
    font-family: 'opensans_light';
    src: url("opensans_lightitalic_macroman/OpenSans-LightItalic-webfont.550b5fda4a27.eot");
    src: url("opensans_lightitalic_macroman/OpenSans-LightItalic-webfont.550b5fda4a27.eot?#iefix") format('embedded-opentype'),
         url("opensans_lightitalic_macroman/OpenSans-LightItalic-webfont.b553da506077.woff") format('woff'),
         url("opensans_lightitalic_macroman/OpenSans-LightItalic-webfont.1d22953c4799.ttf") format('truetype'),
         url("opensans_lightitalic_macroman/OpenSans-LightItalic-webfont.fd6dd5fa10c5.svg#open_sanslight_italic") format('svg');
    font-weight: lighter;
    font-style: italic;

}

@font-face {
    font-family: 'opensans_light';
    src: url("opensans_light_macroman/OpenSans-Light-webfont.09e00aa7622e.eot");
    src: url("opensans_light_macroman/OpenSans-Light-webfont.09e00aa7622e.eot?#iefix") format('embedded-opentype'),
         url("opensans_light_macroman/OpenSans-Light-webfont.45b47f3e9c7d.woff") format('woff'),
         url("opensans_light_macroman/OpenSans-Light-webfont.2e98fc3ce85f.ttf") format('truetype'),
         url("opensans_light_macroman/OpenSans-Light-webfont.8f04ed9aeb21.svg#open_sanslight") format('svg');
    font-weight: lighter;
    font-style: normal;

}

@font-face {
    font-family: 'opensans';
    src: url("opensans_regular_macroman/OpenSans-Regular-webfont.c4d82460ef26.eot");
    src: url("opensans_regular_macroman/OpenSans-Regular-webfont.c4d82460ef26.eot?#iefix") format('embedded-opentype'),
         url("opensans_regular_macroman/OpenSans-Regular-webfont.79515ad07889.woff") format('woff'),
         url("opensans_regular_macroman/OpenSans-Regular-webfont.488d5cc14529.ttf") format('truetype'),
         url("opensans_regular_macroman/OpenSans-Regular-webfont.8185eb3059c4.svg#open_sansregular") format('svg');
    font-weight: normal;
    font-style: normal;

}

