
body {
    padding-top: 70px;
}


/* TABLE CSS */
table     { font-size: 11px; }
thead tr  { background-color:#eee; height: 30px; font-size: 12px; }
tbody th  { white-space: nowrap; }
td        { text-align: right }

/* Panels */

.panel-headingsub {
    border-radius: 0px;
    border-top: 1px solid #eee;
    height: 30px;
    padding-top: 5px;
    padding-left: 15px;
}

.btn-draw {
    width: 100%;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.form-select {
    border-radius: 0px;
    border: 0px;
    margin:0px;
}

.form-select:focus{
    border-radius: 0px;
    border: 0px;
    margin:0px;
}

.highlight > pre {
    background-color: #fff;
    border-width: 0px;
    margin-top: -20px;
}

.table-editable {
    border-radius: 8px;
    margin: 0px;
    padding-left: 0px;
    padding-right: 0px;
}

.table-editable > thead > tr > th {
    border-color: none;
    border-bottom: none;
    background-color: #fff;
}

.table-editable > thead > tr > th:nth-child(1) {
    text-align: right;
    padding-right: 10px;
}

.table-editable > thead > tr > th:nth-child(2) {
    text-align: left;
    padding-left: 15px;
}

.table-editable > tbody > tr > td{
    padding-top: 0px;
    padding-bottom: 0px;
    padding-right: 10px;
    height: 25px;
    vertical-align: middle;
    font-size: 12px;
}

.table-editable > tbody > tr > td:nth-child(1){
    background-color: #f5f5f5;
}

.table-editable > tbody > tr > td:nth-child(2){
    text-align: left;
    padding-left: 15px
}

.col-centered{
    margin: 0 auto;
    float: none;
}

#default-browser:hover:active {
    background-color: #fff;
}