html, body {
    height: 100%;
    margin: 0px auto;
}

#container {
    margin: auto;
    height: calc(100vh - 75px);
}


#toptext {

}

#settings {
    float: left;
    width: 180px;
    margin-right: 20px;
    height: auto;
    overflow: hidden;
    padding: 0px;
}

.setting_panel_hdr {
    height: 30px;
}

.choose_vars {
    max-height: calc((100% - 100px) / 2);
    overflow: hidden;
}

#inner_settings{
    border: 0px;
    padding: 0px;
    margin: 0px;
}

#update_button {
    display: block;
    bottom: 0px;
    margin: 0px;
    padding: 0px
}

#figure{
    overflow: hidden;
    height: calc(100% - 100px);
    min-height: 460px;
}

#footer {
    position: absolute;
    bottom: 0px;
    height: 10px;
    border: 0px;
    width: 100%;
}