
.login-page {
    background-image: url('../images/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.login-box {
    margin: auto;
    padding-top: 7%;
}

.pagination-info {
    margin-top: 15px;
}

.pagination-pages {
    float: right;
}

.pagination-pages .pagination {
    margin: 10px 0;
}

.font-normal {
    font-weight: normal;
}
