; vim: set fileencoding=utf-8 :
; Pavel Korshunov <Pavel.Korshunov@idiap.ch>
; Wed 19 Aug 13:43:22 2015

[buildout]
parts = scripts
eggs = bob.pad.base
       bob.db.base
       bob.bio.base
       gridtk

extensions = bob.buildout
             mr.developer
auto-checkout = *
develop = src/bob.db.base
          src/bob.bio.base
          .
         
; options for bob.buildout
debug = true
verbose = true
newest = false

[sources]
bob.db.base = git git@gitlab.idiap.ch:bob/bob.db.base.git
bob.bio.base = git git@gitlab.idiap.ch:bob/bob.bio.base.git

[scripts]
recipe = bob.buildout:scripts
dependent-scripts = true
