/*message box chethstudios */
.fave_css, .home_css, .idea_css, .author_css, .rss_css, .pen_css, .tooledit_css, .alert_css, .comment_css, .lock_css, .book_css {

margin: 20px 0px;
padding:5px 10px 5px 10px;
}
.fave_css {
color: #00529B;
background-color: #BDE5F8; 

}
.home_css {
color: #4F8A10;
background-color: #DFF2BF;
}
.idea_css {
color: #9F6000;
background-color: #FEEFB3;
}
.author_css {
color: #2E2D2D;
background-color: #A1C2C7;
}
.rss_css {
color: #4F8A10;
background-color: #DFF2BF;
}
.pen_css {
color: #2E2D2D;
background-color: #C8E0C8;
}
.tooledit_css {
color: #554529;
background-color: #F1C983;
}
.alert_css {
color: #2E2D2D;
background-color: #D25F66;
}
.comment_css {
color: #2E2D2D;
background-color: #A6C8D2;
}
.lock_css {
color: #2E2D2D;
background-color: #FFBABA;
}
.book_css {
color: #4F8A10;
background-color: #DFF2BF;
}
/* end message box */