/* staff */
div.staff-warning,
div.staff-warning-red,
div.staff-warning-orange,
div.staff-warning-blue {
    height: 30px;
}

div.staff-warning div,
div.staff-warning-red div,
div.staff-warning-orange div,
div.staff-warning-blue div {
    background-color: #000;
    color: #FFF;
    position: fixed;
    text-align: right;
    z-index: 1000;
    padding: 4px 20px;
    right: 0;
    left: 0;
    top: 0;
    font-weight: bold;
}

div.staff-warning p,
div.staff-warning-red p,
div.staff-warning-orange p,
div.staff-warning-blue p {
    margin: 0;
}

div.staff-warning-blue span.box {
    color: #FFF;
    background-color: #158BC1;
    padding: 6px 8px;
    margin: 0 5px;
}

div.staff-warning-red div {
    background-color: #DB0C0C;
}

div.staff-warning-orange div {
    background-color: #FF7700;
    color: #000;
}

div.staff-warning-blue div {
    color: #00529B;
    background-color: #BDE5F8;
}

div.staff-warning a,
div.staff-warning-red a,
div.staff-warning-orange a,
div.staff-warning-blue a {
    color: #FFF;
    border-bottom: 1px solid #FFF;
}
/* end staff */